img {
    max-width: 300px;
}

.title{
    font-size: 30px;
    font-style: oblique;
    text-align: center;
}

.contenido{
    font-size: 24px;
    border: 3px solid #FF870D;
    border-radius: 2px;
    width: 1800px;
    margin: auto;
    /* background-color: rgb(226, 226, 226); */
    margin-top: 3px;
    margin-bottom: 3px;
}

.contenido2{
    border: 3px solid #FF870D;
    border-radius: 2px;
    width: 1800px;
    margin: auto;
    /* background-color: rgb(226, 226, 226); */
    margin-top: 3px;
    margin-bottom: 3px;
}
.contenido3{
    font-size: 24px;
    border: 3px solid #FF870D;
    border-radius: 2px;
    width: 1800px;
    margin: auto;
    /* background-color: rgb(226, 226, 226); */
    margin-top: 3px;
    margin-bottom: 10px;
}
.titPreg{
    font-size: 24px;
    font-weight: bold;
}

.botonR{
    margin-left: 5px;
    margin-bottom: 8px;
}

.titPreg2{
    font-size: 20px;
}

mat-icon{
    transform: scale(1.5);
}