<mat-card class="dashboard-card" *ngIf="datos"  >
  <mat-card-header>
    <mat-card-title class="title">
      {{datos.nombre}}
    </mat-card-title>
  </mat-card-header>
  <br />
  <mat-card-content class="dashboard-card-content contenido">
      <p>{{datos.descripcion}}</p>
      <p><b>Categoria: </b>{{datos.categoria.descripcion}}</p>
      <p><b>Estado: </b>{{datos.estado}}</p>
      <p><b>Vendedor: </b>{{datos.usuario.nombre}}</p>
      <p><b>Cantidad: </b>{{datos.cantidad}}</p>
      <p><b>Precio: </b>{{datos.precio | currency: "USD"}}</p>
      
    
  </mat-card-content>
  <mat-card-content class="contenido2">
    <p class="titPreg">Preguntas</p>
    <ul *ngIf="datos.preguntas">
      <li *ngFor="let item of datos.preguntas"> 
        <p><b></b>{{item.descripcion}} | Preguntado el: {{item.fechaExp | date: "short"}} Por: {{item.usuario.nombre}}</p>

        <div *ngIf="isVendedor">
          <form [formGroup]="respuestaForm" (ngSubmit)="enviarRespuesta(item.id)" novalidate >
            <div class="row">
              <input matInput placeholder="Responder..." formControlName="descripcion">
              <button class="botonR" mat-button color="primary" type="submit"><mat-icon>add_comment</mat-icon></button>
            </div>
            <mat-error *ngIf="errorHandlingRespuesta('descripcion','required')">
              Campo <strong>requerido</strong>
            </mat-error>
          </form>
        </div>
        <ul *ngIf="item.respuestas">
          <li *ngFor="let item2 of item.respuestas"> 
            <p><b></b>{{item2.descripcion}} | Respondido el: {{item2.fecha | date: "short"}} Por: {{item2.usuario.nombre}}</p>
          </li>
          <mat-divider ></mat-divider>
        </ul>
      </li>
    </ul>
    
    <div *ngIf="isCliente">
      <p class="titPreg2">Tienes otra pregunta?</p>
      <form [formGroup]="preguntaForm" (ngSubmit)="enviarPregunta()" novalidate>
        <input type="hidden" formControlName="idUsuario" />
        <input type="hidden" formControlName="idProducto" />
        <div class="row">
          <input matInput placeholder="Preguntar..." formControlName="descripcion">
          <button class="botonR" mat-button color="primary" type="submit"><mat-icon>live_help</mat-icon></button>
        </div>
        <mat-error *ngIf="errorHandlingPregunta('descripcion','required')">
          Campo <strong>requerido</strong>
        </mat-error>
      </form>
    </div>
  </mat-card-content>
</mat-card>



<div *ngFor="let imageUrl of uploadedImages">
  <img [src]="imageUrl" alt="Uploaded Image">
</div>

 