  <div class="row">
    <mat-card class="caja">
      <mat-card-title><h3>Mi Carrito de Compras</h3></mat-card-title>
      <mat-card-content *ngIf="currentUser as currentUser">
        Fecha: {{fecha | date: 'dd/MM/yyyy'}}
        <br>
        Usuario: {{currentUser.user.nombre}}
      </mat-card-content>
    </mat-card>
  
    <mat-card class="caja">
      <mat-card-title><h3>Calificaciones de vendedores</h3></mat-card-title>
      <mat-card-content *ngIf="currentUser as currentUser">
        <div class="fila" *ngFor="let item of evaluaciones">
          <div class="vendedor">{{item.vendedor}}:</div>
          <div class="calificacion"><span>{{item.calificacion}}</span></div>
          <div class="estrella">&#9733;</div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <mat-card class="box">
    <mat-card-title><h3>Direccion de Envio y Metodo de Pago</h3></mat-card-title>
    <form [formGroup]="facturaForm" novalidate >
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Direccion" formControlName="direccion" #direccion>
              <mat-option *ngFor="let direccion of direccionesList" [value]="direccion.id">
                {{ direccion.direccionExacta }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Tarjeta" formControlName="tarjeta" #tarjeta>
              <mat-option *ngFor="let tarjeta of tarjetasList" [value]="tarjeta.id">
                {{ tarjeta.numero }} | {{ tarjeta.proveedor }} | {{ tarjeta.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </form>
    

  </mat-card>

  <mat-card class="box">
    <mat-card-content *ngIf="dataSource">
      <mat-table  [dataSource]="dataSource" class="mat-elevation-z8">
         
          <ng-container matColumnDef="producto">
            <mat-header-cell *matHeaderCellDef> Producto </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.producto.nombre}} 
            </mat-cell>
            
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
          </ng-container>
        
          <ng-container matColumnDef="precio">
            <mat-header-cell *matHeaderCellDef> Precio </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.precio | currency}} </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
          </ng-container>

          <ng-container matColumnDef="cantidad">
            <mat-header-cell *matHeaderCellDef> Cantidad </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.cantidad}} </mat-cell>

            <mat-footer-cell *matFooterCellDef class="footer-total">
              Subtotal 
              <br>
              Total
            </mat-footer-cell>
          </ng-container>
  
          <ng-container matColumnDef="subtotal">
            <mat-header-cell *matHeaderCellDef> Subtotal </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.subtotal | currency }} </mat-cell>
            <mat-footer-cell *matFooterCellDef class="footer-total">
              {{subtotal | currency}}
              <br>
              {{total | currency}} (Incluye 13% de IVA)
            </mat-footer-cell>
          </ng-container>
  
        
          <mat-header-row *matHeaderRowDef="displayedColumns" class="header"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          <mat-footer-row *matFooterRowDef="displayedColumns" class="footer-row"></mat-footer-row>
        </mat-table>
        
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-flat-button color="accent" (click)="registrarOrden(tarjeta.value, direccion.value)">
          Pagar
          <mat-icon>money</mat-icon> 
          </button>
    </mat-card-actions>
  </mat-card>