<div class="grid-container">
    <div><p class="title">Evaluaciones</p></div>           
    <mat-grid-list [cols]="3" rowHeight="30em" gutterSize="10px">
        <mat-grid-tile *ngFor="let item of datos">
          <mat-card class="dashboard-card">
            <mat-card-header>
              <mat-card-title class="titleCard">{{item.calificacion}}</mat-card-title>
            </mat-card-header>
            <mat-divider outset></mat-divider>
            <mat-card-content class="descp">
                <div>{{item.mensaje}}</div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>