<mat-card class="dashboard-card" *ngIf="datos"  >
    <mat-card-header>
      <mat-card-title>
        {{datos.usuario.nombre}}
      </mat-card-title>
    </mat-card-header>
    <br />
    <mat-card-content class="dashboard-card-content">
        <p><b>Direccion: </b>{{datos.direccion.direccionExacta}}</p>
        <p><b>Fecha: </b>{{datos.createdAt | date: "short"}}</p>
        <p><b>Tarjeta: </b>{{datos.tarjeta.proveedor}}</p>
        <p><b>Tipo de pago: </b>{{datos.tarjeta.tipo}}</p>
        <p><b>Total: </b>{{datos.total | currency:'USD'}}</p>
      <p><b>Estado: </b>{{datos.estado}}</p>
      <p><b>Productos: </b></p>
      <ul *ngIf="datos.productos">
         <li *ngFor="let item of datos.productos"> 
            <p><b>Vendedor: </b>{{item.producto.usuario.nombre}}</p>
            <p><b>Nombre: </b>{{item.producto.nombre}}</p>
            <p><b>Descripcion: </b>{{item.producto.descripcion}}</p>
            <p><b>Subtotal: </b>{{item.producto.precio*item.cantidad | currency:'USD'}}</p>
            <p><b>Cantidad: </b>{{item.cantidad}}</p>
            <p><b>Estado: </b>{{item.estado}}</p>
        </li>
      </ul>
    </mat-card-content>
  </mat-card>