<form [formGroup]="evaluacionForm" (ngSubmit)="evaluar()"  novalidate >
    
  <mat-card class="shipping-card"> 
    <mat-card-header>
      <mat-card-title class="title">Evaluacion</mat-card-title>
    </mat-card-header>
    <mat-card-content>

        <div class="evaluacion">
            <span class="estrella" *ngFor="let star of estrellas; let i = index" 
                  [ngClass]="{'profit': i <= hoveredIndex || i < puntuacion}" 
                  (mouseenter)="hover(i)" 
                  (mouseleave)="leave()" 
                  (click)="puntuar(i)">
              &#9733;
            </span>
          </div>
      
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Mensaje (opcional)" formControlName="mensaje">
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button class="guardar" mat-raised-button color="primary" type="submit" [disabled]="puntuacion < 1">Guardar</button>
    </mat-card-actions>
  </mat-card>
</form>