.full-width {
    width: 100%;
  }
  
  .shipping-card {
    min-width: 120px;
    margin: 20px auto;
  }
  
  .mat-radio-button {
    display: block;
    margin: 5px 0;
  }
  
  .row {
    display: flex;
    flex-direction: row;
  }
  
  .col {
    flex: 1;
    margin-right: 20px;
  }
  
  .col:last-child {
    margin-right: 0;
  }
  
  img {
    max-width: 300px;
  }

  .title{
    font-size: 24px;
  }

  .guardar{
    font-weight: bold;
  }


  .evaluacion {
    font-size: 24px;
  }
  
  .estrella {
    cursor: pointer;
    color: #ccc;
    transition: color 0.3s;
  }
  
  .estrella.profit {
    color: orange;
  }