<form [formGroup]="direccionForm" (ngSubmit)="isCreate ? crearDireccion(): actualizarDireccion()"  novalidate >
    <input type="hidden" formControlName="id"/>
    <input type="hidden" formControlName="idUsuario"/>
      
    <mat-card class="shipping-card"> 
    <mat-card-header>
        <mat-card-title class="title">{{titleForm}} Dirección</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="row">
            <div class="col">
                <mat-form-field class="full-width">
                <input matInput #direccionE placeholder="Dirección exacta" maxlength="200" formControlName="direccionExacta">
                <mat-hint align="end">{{direccionE.value.length}} / 200</mat-hint>
                <mat-error *ngIf="errorHandling('direccionExacta','required')">
                    Dirección exacta es <strong>requerida</strong>
                </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <mat-form-field class="full-width">
                    <mat-select placeholder="Provincias" #idProvincia (selectionChange)="listaCantones($event)" [(ngModel)]="selectedProvincia" formControlName="provincia">
                        <mat-option *ngFor="let provincia of provinciaList" [value]="provincia">
                        {{ provincia.value }}
                        </mat-option>
                    </mat-select>
                <mat-error *ngIf="errorHandling('provincia','required')">
                    Provincia es <strong>requerida</strong>
                </mat-error>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field class="full-width">
                    <mat-select placeholder="Cantón" (selectionChange)="listaDistritos($event)" [(ngModel)]="selectedCanton" formControlName="canton">
                        <mat-option *ngFor="let canton of cantonList" [value]="canton">
                        {{ canton.value }}
                        </mat-option>
                    </mat-select>
                <mat-error *ngIf="errorHandling('canton','required')">
                    Cantón es <strong>requerido</strong>
                </mat-error>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field class="full-width">
                    <mat-select placeholder="Distrito" (selectionChange)="createCodigo($event)" [(ngModel)]="selectedDistrito" formControlName="distrito">
                        <mat-option *ngFor="let distrito of distritoList" [value]="distrito">
                        {{ distrito.value }}
                        </mat-option>
                    </mat-select>
                <mat-error *ngIf="errorHandling('distrito','required')">
                    Distrito es <strong>requerido</strong>
                </mat-error>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Código postal" [(ngModel)]="selectedCodigo" formControlName="codigoPostal" readonly>
                </mat-form-field>
              </div>
        </div> 
        
        <div class="row">
            <div class="col">
                <mat-form-field class="full-width">
                <input matInput placeholder="Telefono" formControlName="telefono">
                <mat-error *ngIf="errorHandling('telefono','required')">
                    Telefono es <strong>requerido</strong>
                </mat-error>
                <mat-error *ngIf="errorHandling('telefono','pattern')">
                    Telefono debe tener <strong>8 dígitos</strong>
                </mat-error>
                </mat-form-field>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button class="guardar" mat-raised-button color="primary" type="submit">Guardar</button>
    </mat-card-actions>
    </mat-card>
</form>