<div class="grid-container">
  <div><p class="title">Productos</p></div>
  <div class="crear">
    <div *ngIf="isVendedor">
      <button  mat-fab
      matTooltip="Crear Nuevo Producto"
      aria-label="Crear Nuevo Producto" 
      color="primary"
      (click)="create()"><mat-icon>add_cricle </mat-icon></button>
    </div>
    <div *ngIf="isVendedor">
      <button  mat-fab
      matTooltip="Editar Productos"
      aria-label="Editar Productos" 
      color="primary"
      (click)="update()"><mat-icon>menu</mat-icon></button>
    </div>
  </div>
  
  <mat-card>
    <mat-card-header><h1 class="mat-h1">Buscar</h1></mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">    
            <mat-form-field class="full-width">
              <mat-label>Nombre: </mat-label>
              <input matInput #filter (change)="applyFilters(filter.value,categoria.value,precio.value)">
            </mat-form-field> 
        </div>
        
        <div class="col">
            <mat-form-field class="full-width">
                  <mat-select placeholder="Categoria" #categoria (selectionChange)="applyFilters(filter.value,categoria.value,precio.value)">
                    <mat-option *ngFor="let categoria of categoriasList" [value]="categoria.id">
                      {{ categoria.descripcion }}
                    </mat-option>
                    <mat-option [value]="0"> Todos </mat-option>
                  </mat-select>

            </mat-form-field> 
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Precio</mat-label>
            <mat-select #precio [value]="1" (selectionChange)="applyFilters(filter.value,categoria.value,precio.value)">
              <mat-option [value]="1"> No filtrar </mat-option>
              <mat-option [value]="2"> Mas baratos </mat-option>
              <mat-option [value]="3"> Mas caros </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      
    </mat-card-content>
  </mat-card>
  
    
  <mat-grid-list [cols]="4" rowHeight="30em" gutterSize="10px">
      <mat-grid-tile *ngFor="let item of filterDatos">
        <mat-card class="dashboard-card">
          <img class="card-img" [src]="images[item.id][0]" alt="">
          <!-- <img [src]="imgSrc"
           (mouseover)="imgSrc = 'assets/images/2.jpg'"
           (mouseout)="imgSrc = 'assets/images/1.webp'"> -->
          <mat-card-header>
            <mat-card-title class="titleCard">{{item.nombre}} </mat-card-title>
          </mat-card-header>
          <mat-divider inset></mat-divider>
          <mat-card-content class="descp">
            <div>{{item.precio | currency:"USD" }} 
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              {{item.usuario.nombre}}
            </div>
            <div>{{item.estado}}</div>
            <div *ngIf="item.cantidad == 0">Agotado</div>
          </mat-card-content>
          
          <mat-card-actions>
            <button
            mat-mini-fab
            color="accent"
            matTooltip="Detalle Producto"
            aria-label="Detalle Producto"
            color="primary"
            (click)="detalle(item.id)"
            >
              <mat-icon class="mat-18">info</mat-icon>
            </button>
            <button
              mat-mini-fab
              color="accent"
              matTooltip="Agregar al carrito"
              aria-label="Agregar al carrito"
              color="primary"
              (click)="comprar(item.id)"
              *ngIf="isCliente && item.cantidad > 0"
            >
              <mat-icon class="mat-18">add_shopping_cart</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>