
grid-container {
    margin: 20px;
}
.dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
}
.more-button {
    position: absolute;
    top: 5px;
    right: 10px;
}
.dashboard-card-content {
    text-align: center;
}
.card-img{
    max-height: 280px;
    max-width: 480px;
}
.title{
    margin: 15px;
    font-size: 50px;
    text-align: center;
    color: #110E3E;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.crear{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}

.crear button mat-icon{
    transform: scale(2);
}

.titleCard{
    font-size: 26px;
    color: #110E3E;
}

.descp{
    margin-top: 5px;
    font-size: 22px;
    color: #FF870D;
}
button{
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 0px;
}
.row {
    display: flex;
    flex-direction: row;
  }
  
  .col {
    flex: 1;
    margin-right: 20px;
  }
  .full-width {
    width: 100%;
  }