<form [formGroup]="formCreate"  novalidate>
    <mat-card class="shipping-card main-card">
      <mat-card-header>
        <mat-card-title class="title">Registro </mat-card-title>
      </mat-card-header> 
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Nombre</mat-label>
              <input matInput type="text" placeholder="Nombre usuario" formControlName="nombre" />
             <mat-error *ngIf="errorHandling('nombre', 'required')">
                Nombre es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Correo Electrónico</mat-label>
              <input matInput type="text" placeholder="Correo usuario" formControlName="correo" />
             <mat-error *ngIf="errorHandling('correo', 'required')">
                Correo es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Clave</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" placeholder="Clave usuario" formControlName="clave" />
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
             <mat-error *ngIf="errorHandling('clave', 'required')">
                Clave es <strong>requerida</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Telefono</mat-label>
              <input matInput type="text" placeholder="Telefono usuario" formControlName="telefono" />
             <mat-error *ngIf="errorHandling('telefono', 'required')">
                Telefono es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field  class="full-width">
              <mat-label>TipoUsuario</mat-label>
                <mat-select placeholder="Tipo" formControlName="tiposUsuario" multiple>
                  <mat-option *ngFor="let r of tipos" [value]="r.id">
                    {{ r.nombre }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="submitForm()">Registrarme</button>
        <button mat-raised-button color="warn" type="reset" (click)="onReset()">Limpiar</button>
        <a class="log-btn" [routerLink]="['/usuario/login']" routerLinkActive="active-link">Ya tengo cuenta</a>
      
      </mat-card-actions>
    </mat-card>
    </form>
    
    