<mat-card class="full-width">
    <mat-card-content>
      <!-- Table -->
      <div class="mat-elevation-z8" *ngIf="dataSource">
        <table mat-table [dataSource]="dataSource" class="full-width-table" matSort aria-label="Elements">

          <!-- Columna imagen -->
          <ng-container matColumnDef="imagen">
            <th mat-header-cell *matHeaderCellDef>Imagen</th>
            <td mat-cell *matCellDef="let row">
              <img class="card-img" [src]="images[row.idProducto][0]" alt="">
            </td>
          </ng-container>

          <!-- Columna factura -->
          <ng-container matColumnDef="factura">
            <th mat-header-cell *matHeaderCellDef>Factura</th>
            <td mat-cell *matCellDef="let row">#{{row.idFactura}}</td>
          </ng-container>

          <!-- Columna nombre -->
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let row">{{row.producto.nombre}}</td>
          </ng-container>
  
          <!-- Columna cantidad -->
          <ng-container matColumnDef="cantidad">
            <th mat-header-cell *matHeaderCellDef>Cantidad</th>
            <td mat-cell *matCellDef="let row">{{row.cantidad}}</td>
          </ng-container>
  
          <!-- Columna estado -->
          <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
            <td mat-cell *matCellDef="let row" [ngStyle]="{'color': row.estado=='PENDIENTE' ? 'red': 'green'}">{{enums[row.estado]}}</td>
          </ng-container>
          
          <!-- Columna acciones -->
          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let row">
              <mat-form-field class="full-width">
                <mat-select placeholder="Cantón" [value]="enums[row.estado]" (selectionChange)="actualizarEstado(row, $event.value)">
                  <mat-option *ngFor="let esta of productoEnumValues" [value]="esta" >
                    {{ esta }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </ng-container>
          
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
  
        <mat-paginator
          #paginator
          [length]="dataSource?.data?.length"
          [pageIndex]="0"
          [pageSize]="5"
          [pageSizeOptions]="[5, 10, 20]"
          aria-label="Selecccione una página"
          
        >
        </mat-paginator>
      </div>
      <!-- Table -->
    </mat-card-content>
  </mat-card>
  